@import url(https://fonts.googleapis.com/css?family=Merriweather);
@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
  margin: 0;
  padding: 0;
}

html, body {
  background-color: #f5f5f5;
}
