.Loader {
  margin: 0 auto;
  width: 200px;
  text-align: center;
}

.Pagination {
  margin: 0 auto;
  width: 400px;
}

@media only screen and (max-width: 600px) {
    .Pagination {
        width: 100%;
        margin: 5px;
        padding: 5px;
    }
}
